.button {
    padding: 24px 55px;
    background: #34547a;
    color: #ffffff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
}
  
  .button:hover,
  .button:focus {
    background: #4f6b8d;
  }
