.projects {
    background: #34547a;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    gap: 16px;
  
  
  &__item {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: min-content min-content;
    gap: 5px 20px;
    align-items: center;
    line-height: 1;
  }
  
  &__icon {
    grid-row: span 2;
  }
  
  &__number {
    margin: 0;
    font-weight: 500;
    font-size: 21px;
  }
  
  &__type {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
  }
}